# Python Caches
__pycache__/
*.pyc

# Build and Distribution
build/
dist/
nuitka_dist/
_internal/
*.exe
*.spec
nuitka-crash-report.xml

# Game Saves and Data
save/
save - Kopya/
save_backup/
inventory.json
debug_output.txt
crash_debug.txt
output.txt

# IDEs and OS
.vscode/
.idea/
Thumbs.db
.DS_Store

# Virtual Environment
venv/
env/
.venv/

# Project Specific
settings.txt
SC/
sourse_code/
